// styles/Home.scss
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.home-bio-container {
  padding-top: 100px;
  padding-left: 25%;
  padding-right: 25%;
}

.home-bio {
  margin-bottom: 40px;
  width: 50%;
  color: white;
  font-size: 20px;
}