.produced-container {
  // position: relative;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-container {
  height: 500px; /* Set a fixed height for the carousel */
}

.skills-para {
  margin-top: 20px; /* Add margin to create space below the carousel */
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: white;
  font-size: 20px;
}
