.research-page {
  padding-top: 100px;
  padding-left: 25%;
  padding-right: 25%;
}

.thesis-title-mtsu {
  margin-bottom: 20px;
  width: 50%;
  color: white;
}

.thesis-title-quotes {
  margin-bottom: 20px;
  width: 50%;
  color: white;
}

.abstract-title {
  margin-bottom: 40px;
  width: 50%;
  color: white;
}

.summary-para {
  margin-bottom: 40px;
  width: 50%;
  color: white;
  font-size: 20px;
}