.research-page {
  padding-top: 100px;
  padding-left: 25%;
  padding-right: 25%;
}

.thesis-title-undergrad {
  margin-bottom: 20px;
  width: 50%;
  color: white;
}

.thesis-title-quote-undergrad {
  margin-bottom: 20px;
  width: 50%;
  color: white;
}

.abstract-title-undergrad {
  margin-bottom: 40px;
  width: 50%;
  color: white;
}

.summary-para-undergrad {
  margin-bottom: 40px;
  width: 50%;
  color: white;
  font-size: 20px;
}

.thesis-title-grad {
  margin-bottom: 20px;
  width: 50%;
  color: white;
}

.thesis-title-quote-grad {
  margin-bottom: 20px;
  width: 50%;
  color: white;
}

.abstract-title-grad {
  margin-bottom: 40px;
  width: 50%;
  color: white;
}

.summary-para-grad {
  margin-bottom: 40px;
  width: 50%;
  color: white;
  font-size: 20px;
}