.socials-page {
    padding-top: 100px;
    padding-left: 25%;
    padding-right: 25%;
  }
  
  a {
    color: white;
  }
  
  a:hover {
    color: lightgrey;
    text-decoration: none;
  }
  

.facebook-link {
    text-decoration: none;
    margin-bottom: 20px;
    width: 50%;
    color: white;
  }
  
  .instagram-link {
    width: 50%;
    color: white;
    margin-bottom: 20px;
  }
  
  .youtube-link, .spotify-link, .applemusic-link, .podcast-link, .linktree-link {
    width: 50%;
    color: white;
    margin-bottom: 20px;
  }