.my-music-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-title {
  color: white;
  font-family: 'Special Elite';
}

.song-desc {
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
  color: white;
  font-size: 20px;
}